/* Day-02 CSS */
/* Problem-2,3,4 */
/* .App{
  text-align: center;
  font-family: cursive;
  background-image: linear-gradient(45deg,rgb(176, 116, 6),rgb(123, 4, 4),black);
}
.h-styling{
  
  color: deepskyblue;
  font-weight: normal;
}

.profile-pic{
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.fname{
  font-style: italic;
  font-weight: bold;
  color: lightpink;
} */

/***************************************************************************************************************************************************************************************************************/

/* Problem-5,6 */
/* .App{
  text-align: center;
  font-family: cursive;
  min-height: 100vh;
  background-image: linear-gradient(220deg,rgb(184, 120, 2),rgb(211, 58, 3),brown,black);
}
.user-profile-pic{
  height: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.user-descr{
  color: dodgerblue;
  font-weight: bold;
}
.user-name{
  font-style: italic;
  font-weight: bolder;
  color: lightpink;
  font-size: larger;
} */

/******************************************************************************************************************************************************************************************************************************/

/* Problem:7,9,10 */

.App{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: whitesmoke;
}
.container{
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  font-family: sans-serif;
  box-shadow: rgb(59 45 45 / 25%) 0px 5px 15px;
  margin: 30px;
}
.movie-pstr{
  width: 100%;
  height:400px;
  object-fit: cover;
}
.movie-tle{
  margin-top: 5px;
  color: orangered;
  font-size: larger;
  font-weight: bold;
  padding: 5px;
}
.movie-srtg{
  color: orangered;
  font-size: large;
  font-weight: bold;
  padding: 5px;
}
.movie-descr{
  color:rgb(255, 85, 0);
  font-size: medium;
  font-weight: 200;
  height: 180px;
  padding: 5px;
  margin-top: 0px;

}
.Counter{
  margin-top: 0px;
  margin-bottom: 5px;
  color: orangered;
  font-size: 30px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}
.btn{
  color: orangered;
  font-size: large;
  font-weight: bold;
  padding: 3px 10px ;
  border-radius: 15px;
  background-color: white;
  border-color:orangered ;
  transition: 0.2s;
}
.btn:hover{
  background-color: whitesmoke;
  border-color: red;
  padding: 5px 12px ;
  box-shadow: rgb(59 45 45 / 25%) 0px 5px 15px;
}
.CRS{
  color: orangered;
  font-family: sans-serif;
}
.movie-pstr:hover{
  transition: 0.2s;
  height: 405px;
  width: 305px;
  transition-timing-function: ease-out;
}
/**************************************************************************************************************************************************************************************************************************************/

